.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: gainsboro;
  height: 100vh;
}

.box {
  display: flex;
  gap: 0.5rem;
  color: gray;
  font-family: cursive;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 5px 1px gray;
}
.forgetSumbit {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
